body{
	text-align: right;
}
*{
	box-sizing:border-box;
}
input{
	height:20px;
	direction: rtl;
}
textarea{

	height:6em;
	direction: rtl;
}
input Email{
	direction: rtl;
}
button{
	min-width:64px;
	height:40px;
	margin:8px 0px 0px 8px;
	padding:0 24px;
	background-color: blue;
	color: white;
}
.btn-body{
	border-radius: 3em;
	border: 3px solid;
	outline:2px solid;
	background-color: blue;
	margin:0 8px 0 5px;
	margin-top:10PX ;
}
