body{
	direction: rtl;
}
*{
	box-sizing:border-box;
}
button{
	height:40px;
	background-color:#6750A4;
	color:#1C1B1F;
	border-radius:40px;
	border: 3px solid;
	margin:0 8px 0 5px;
}
.btn{
	border-radius:20px;
	height:40px;
	margin:8px 0px 0px 8px;
	min-width:40px;
	padding:8px 24px;
	display:inline-block;
	vertical-align:middle;
	outline:2px solid #79747E;
}
a.btn{
	text-decoration:none;
}
.btn.primary{
	background-color: #6750A4;
	color: #21005E; 
}
.btn.onprimary{
	background-color:#1C1B1F;
}
.btn:hover{
	background-color:rgba(143, 143, 143, 0.1);
}
.btn:focus{
	color:rgba(102, 31, 143, 0.2);
}
.btn:disabled{
	coursor:default;
	background-color:#8f8f8f;
}
a.btn:hover{
	background-color:rgba(143, 143, 143, 0.1);
}
a.btn:focus{
	color:rgba(102, 31, 143, 0.2);
}
a:disabled{
	cursor:default;
	background-color:#8f8f8f;
}
.btn:Active{
background-color:red;
}
a.btn:Active{
	background-color:red;
}
